.container-calculadora{
    margin: auto;
    width: 100%;
}
.calculadora{
    margin: auto;
    width: 50%;
    padding: 2%;
    background-color: #3d86d9;
    border-radius: 25px;
    border: 5px solid #fff;
}
.calculadora .fila{
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boton-calc{
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2em;
    background-color: #1b1b32;
    color: #fff;
    border-radius: 25px;
    border: 2px solid #fff;
    margin: 2%;
    cursor: pointer;
    user-select: none;
}
.boton-calc:hover{
    background-color: #fff;
    color: #000;
}
.operador{
    background-color: #c1c1c1;
    color: #000;
}
.operador:hover{
    background-color: #000;
    color: #fff;
}
.input{
    min-width: auto;
    height: 76px;
    border-radius: 25px;
    margin: 4%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #000;
    font-weight: bold;
    font-size: 2em;
    color: #fff;
    padding: 3%;
    margin: 1px solid #888;
    box-shadow: -1px 4px 1px 1px #fff;
    overflow-x: hidden;
}
.boton-clear{
    height: 76px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    background-color: #ac0246;
    margin: 8px 0 ;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
    border-radius: 25px;
}
.boton-clear:hover{
    background-color: #000;
    color: #fff;
}