*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  font-size: 1em;
  background-color: #c1c1c1;
}

.App{
  width: 100%;
  min-height: 100vh;
}
.container-tittle{
  width: 80%;
  text-align: center;
}
.container-tittle h1{
  font-size: 2em;
  font-family: Lato, sans-serif;
  font-weight: 700;
  line-height: 1.2;
}
/*  */
nav a.active{
  font-weight: bold;
  pointer-events: none;
}
header{
  position: sticky;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: aquamarine;
  margin: 0 0 2% 0;
}
.navi{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.navi h1{
  width: 30%;
  padding: 0 2%;
}
.navi nav{
  width: 70%;
}
.navi nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.navi nav ul li{
  padding: 0 10px ;
  font-size: 1em;
}
.navi nav ul li a:link, a:visited{
  color: #000;
  text-decoration: none;
}
.navi nav ul li a:hover{
  color: #c1c1c1;
  font-weight: bold;
}
.tittle{
  text-align: center;
  padding: 1%;
}
